@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --themeColor: #220839;
  --themeSec: #7d4aaa;
  --col: #ffffff00;
}

#LoginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#maincont {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

#head {
  font-size: 3rem;
  font-weight: bold;
}

#subt {
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  width: 100%;

}

main {
  overflow-x: hidden;
}

.subs {
  padding: 1rem;
  padding-bottom: 0.2rem;
  padding-left: 0;
  text-align: left;
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
}

.inp {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--themeSec);
}

.inp::placeholder {
  text-align: left;
  width: 100%;

}

.inp:focus {
  border-bottom: 2px solid var(--themeColor);
  outline: none;
}

#forget,
#back {
  text-align: right;
  font-weight: 600;
  color: var(--themeColor);
  cursor: pointer;
}

#butt {
  width: 100%;
  background-color: var(--themeColor);
  color: white;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

#butt {
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#error {
  position: absolute;
  background-color: red;
  padding: 1rem;
  transition: 400ms ease;
  top: 5rem;
  color: white;
  border-radius: 0.2rem 0 0 0.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#reset {
  position: absolute;
  background-color: green;
  padding: 1rem;
  transition: 400ms ease;

  top: 5rem;
  color: white;
  border-radius: 0.2rem 0 0 0.2rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#noemail {
  position: absolute;
  background-color: red;
  padding: 1rem;
  transition: 400ms ease;
  top: 5rem;
  color: white;
  border-radius: 0.2rem 0 0 0.2rem;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* form specific css  */
#genback {
  padding: 2rem;
  font-size: 2rem;
  font-weight: 600;
  background-color: var(--themeSec);
  color: white;
}

#mainFormArea {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#form {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.formEle {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}

.formInp {
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: none;
  resize: none;
  background-color: rgba(128, 128, 128, 0.155);
}

.formInp:focus {
  outline: none;
  background-color: #7d4aaa48;
  box-shadow: rgba(100, 100, 111, 0.105) 0px 7px 29px 0px;
}

.formBut {
  border: none;
  margin-top: 1rem;
  border-radius: 0.3rem;
  padding: 0.8rem;
  background-color: var(--themeSec);
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  box-shadow: rgba(100, 100, 111, 0.489) 0px 7px 29px 0px;

}

#helpp {
  padding: 1rem 0;
  font-size: 0.8rem;
}